        body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Sancreek' sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            background-color: #000000;
            color: #ff8e01;
        }
        
        code {
            font-family: source-code-pro, Menlo, Monaco, Consolas, Sancreek, monospace;
            TextColor: #ff8e01;
        }
        
        .pad {
            padding-top: 25px;
        }
        
        .mint-container {
            background-color: #ffba71b7;
            border-width: 5px;
            border-color: orange;
            border-radius: 30px 30px 30px 30px;
            width: 600px;
            width: fit-content;
            text-align: center;
            margin: auto;
            padding-top: 3%;
            padding-bottom: 5%;
            font-size: 1.5em;
        }